
/* Global */

a {
    text-decoration: none;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}

body {
    background-color:rgb(238, 238, 238);
    color:rgb(100, 85, 85);
    background-image: url(/imgs/squiggles-2.svg);
    background-position: center;    
    background-repeat: repeat;
    background-size: cover;
}

/* index. html */

.headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1vw;
    flex-wrap: wrap;
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: clamp(0.5rem, 0.4440rem + 2.7799vw, 10rem);
    height: 100vh;
}

.body_index-html {
    margin: 0;
}

.koloman-egon-gustav-rath {
    margin-top: 0.5vh;
    margin-bottom: 4.5vh;
}

.koloman-egon-gustav-rath:hover {
    color: rgb(208, 206, 206);
    text-decoration: line-through;
}

#projects, #about {
    text-decoration: none;
    color: rgb(100, 85, 85);
}

#projects:hover, #about:hover {
    color: rgb(208, 206, 206);
    text-decoration: line-through;
}

.headerH2 {
    font-family: 'Spectral', serif;
    font-weight: 200;
    text-align: end;
}


/* projects.html */

.PROJECTS {
    text-align: start;
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: clamp(2rem, 0.4440rem + 3.7799vw, 10rem);
    margin-top: 0.8vh;
    margin-bottom: 0.3vh;
    margin-left: 6.5vw;
}

.header_nav-projects-html {
    display: flex;
    flex-direction: column;
    place-items: flex-end;
}

.header_nav-projects-html button {
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: clamp(2rem, 0.4440rem + 3.7799vw, 10rem);
    text-align: end;
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
    margin-right: 5.5vw;
    border: none;
    outline: none;
    background-color: transparent;
}

.header_nav-projects-html a {
    text-decoration: none;
    color:rgb(100, 85, 85);
}


.header_nav-projects-html button:hover, 
.header_nav-projects-html a:hover {
    text-decoration:line-through;
    color: rgb(208, 206, 206);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
}

.wrapper-project-1, .wrapper-project-2 {
    display: flex;
    justify-content: center;
}

.wrapper-project-1 button, .wrapper-project-2 button {
    background-color: transparent;
    color:rgb(100, 85, 85);
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: clamp(1.5rem, 0.6rem + 2.5vw, 10rem);    
    border: none;
    outline: none;
    border-radius: 50%;
    margin-top: 13.5vh;
}

.wrapper-project-1 button:hover, .wrapper-project-2 button:hover {
    background-color: rgb(208, 206, 206);
    color:rgb(238, 238, 238);
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: clamp(4.5rem, 2rem + 1.7799vw, 10rem);
    margin-top: 0.8vh;
    border: none;
    outline: none;
    margin-top: 13.5vh;
}

#projects_nameGenerator, #projects_moodRing {
    background-image: url(/imgs/squiggle.svg);
    background-position: left top;    
    background-repeat: repeat;  
    background-size: 15%;
    color:rgb(100, 85, 85);
    font-family: 'Spectral', serif;
    font-weight: 450;
    font-size: 8vw;
    padding: 5% 5%;
    border: none;   
    outline: none;
    display: none;
    float: left;
    position: absolute;
    left: 19%;
    top: 20%;
    z-index: 100;
    border: none;
    outline: none;
    border-radius: 40%; 
}

#projects_nameGenerator div, #projects_moodRing div {
    color:rgb(100, 85, 85);
    font-family: 'Spectral', serif;
    font-weight: 300;
    font-size: 6vw;
}

#projects_nameGenerator a, #projects_moodRing a {
    text-decoration: line-through;
    color: rgb(208, 206, 206);
    font-weight: 600;
}


/* about.html */

.body_about-html {
    background-color:rgb(238, 238, 238);
    color:rgb(100, 85, 85);
    background-image: url(/imgs/squiggles-2.svg);
    background-position: left top;    
    background-repeat: repeat;
    background-size: 45%; 
}

.ABOUT {
    text-align: end;
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: clamp(2rem, 0.4440rem + 3.7799vw, 10rem);
    margin-top: 0.8vh;
    margin-bottom: 3vh;
    margin-right: 6.5vw;
}

.body_footer-about-html {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    place-items: flex-start;
}

.body_footer-about-html a {
    text-decoration: none;
    color:rgb(100, 85, 85);
}

.body_footer-about-html button {
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: clamp(2rem, 0.4440rem + 3.7799vw, 10rem);
    text-align: end;
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
    margin-right: 5.5vw;
    border: none;
    outline: none;
    background-color: transparent;
}

.body_footer-about-html button:hover, 
.body_footer-about-html a:hover {
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: clamp(2rem, 0.4440rem + 3.7799vw, 10rem);
    text-align: end;
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
    margin-right: 5.5vw;
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration:line-through;
    color: rgb(208, 206, 206);
}

video {
    max-height: 50%;
    max-width: 50%;
    border-radius: 10%;
    margin: 1vh 2vw;
}

.main_about-html p {
    color:rgb(100, 85, 85);
    font-family: 'Spectral', serif;
    font-weight: 450;
    font-size: clamp(1rem, 0.07rem + 2.7799vw, 10rem);
    margin: 1vh 1vw;
}

.div_video-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 2vh 0;
}

.div_video-2 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 2vh 0;
}

.div_video-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2vh 0;
}

.main_p1 {
    text-align: end;
}

.main_p2 p {
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    margin: 0;
}

.main_p2 button {
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 5%;
    margin-left: 93%;
}

.main_p2 a:hover,
.main_p2 p:hover {
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration:line-through;
    color: rgb(208, 206, 206);
}
