
/* Global 
body {
     /*background-color: rgb(238, 238, 238);
    color: rgb(100, 85, 85);
    background-image: url(/imgs/background_img_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */


/* index. html */

.body_index-html {
    background-color: rgb(238, 238, 238);
    color: rgb(100, 85, 85);
}

.headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1vw;
    flex-wrap: wrap;

    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: clamp(0.5rem, 0.4440rem + 2.7799vw, 10rem);
    height: 100vh;
}

.koloman-egon-gustav-rath {
    margin-top: 0.5vh;
    margin-bottom: 4.5vh;
}

.koloman-egon-gustav-rath:hover {
    /*color: rgb(144, 13, 13);*/
    color: rgb(208, 206, 206);
    text-decoration: line-through;
}

#projects, #about {
    text-decoration: none;
    color: rgb(100, 85, 85);
}

#projects:hover, #about:hover {
    /*color: rgb(144, 13, 13);*/
    color: rgb(208, 206, 206);
    text-decoration: line-through;
}

.headerH2 {
    font-family: 'Spectral', serif;
    font-weight: 200;
    text-align: end;
}

/* projects. html */



